<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mycompany.myjpctapp"
    android:versionCode="2"
    android:versionName="2.3.4" >

    <uses-feature android:glEsVersion="0x00020000" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:screenOrientation="portrait"
            android:name=".screens.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".screens.MainMenuActivity"
            android:label="@string/title_activity_main_menu" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".screens.SelectGameActivity"
            android:label="@string/title_activity_select_game" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".screens.EndScreenActivity"
            android:label="@string/title_activity_end_screen" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".screens.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".screens.HighScoresActivity"
            android:label="@string/title_activity_high_scores" >
        </activity>
    </application>

</manifest>
